@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.vr-website-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.vr-heading {

    color: #ffffff;
}

.view-more-button {
    height: 40px;
    width: 130px;
    color: #ffffff;
    font-size: 17px;
    border-width: 0px;
    border-radius: 5px;
    background-color: #1a2137;
}




.nav-logo-image {
    width: 40px;
    height: 30px;
}


.nav-item1 {
    color: #323f4b;
    font-family: "Roboto";

}

.nav-item2 {
    color: #323f4b;
    font-family: "Roboto";

}

.nav-item3 {
    color: #323f4b;
    font-family: "Roboto";
}

.nav-item4 {
    color: #323f4b;
    font-family: "Roboto";
}